apiVersion: v2
name: browsertrix-cloud
description: A chart for running the Webrecorder Browsertrix System
type: application
icon: https://webrecorder.net/assets/icon.png

# Browsertrix Cloud and Chart Version
version: v1.7.0-beta.2

dependencies:
  - name: btrix-admin-logging
    version: 0.1.0
    condition: addons.admin.logging
    repository: file://./admin/logging
  - name: btrix-crds
    version: 0.1.1
    repository: file://./btrix-crds
  - name: metacontroller-helm
    version: v4.11.0
    repository: "oci://ghcr.io/metacontroller"
