apiVersion: v2
name: browsertrix
description: A chart for running the Webrecorder Browsertrix System
type: application
icon: https://webrecorder.net/assets/icon.png

# Browsertrix and Chart Version
version: v1.21.3

dependencies:
  - name: btrix-admin-logging
    version: 0.1.0
    condition: addons.admin.logging
    repository: file://./admin/logging
  - name: btrix-crds
    version: 0.1.1
    repository: file://./btrix-crds
  - name: metacontroller-helm
    version: 4.11.11
    repository: "oci://ghcr.io/metacontroller"
  - name: btrix-proxies
    version: 0.2.0
    condition: btrix-proxies.enabled
    repository: file://./proxies/
