# MongoDB Image
# =========================================
mongo_local: false
mongo_auth:
  db_url: "{{ webrecorder_database.data.uri }}"
  username: root
  password: example 
# Local Minio Pod (optional)
# =========================================
# set to true to use a local minio image
minio_local: false

minio_scheme: "http"
minio_host: "local-minio.default:9000"

minio_image: minio/minio
minio_mc_image: minio/mc
minio_pull_policy: "IfNotPresent"

minio_local_bucket_name: &local_bucket_name "btrix-data"
# Storage
# =========================================
# should include the local minio bucket, if enabled, and any other available buckets for default storage

storages:
  - name: "default"
    access_key: "ADMIN"
    secret_key: "PASSW0RD"
    bucket_name: *local_bucket_name

    endpoint_url: "{{ webrecorder_space.data.space_url }}"

# base url for replayweb.page
rwp_base_url: "{{ domain_name }}"

superuser:
  # set this to enable a superuser admin
  email: legit@email.addr
