btrix-table-cell[rowClickTarget] {
  display: grid;
  grid-template-columns: subgrid;
  white-space: nowrap;
  overflow: hidden;
}

.rowClickTarget {
  max-width: 100%;
}

.rowClickTarget::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  grid-column: clickable-start / clickable-end;
}
