## editors
/.idea

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/
/tmp/

# build
/dist/

# dotenv
.env
.env.*

storybook-static
custom-elements.json
/test-results/
/playwright-report/
/playwright/.cache/

*storybook.log
