## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/
/tmp/

# build
/dist/

# dotenv
.env.local
.env.*.local

# translation files
src/__generated__/**/*.ts
xliff/*.xlf

storybook-static
custom-elements.json
