version: '3.5'

services:
  backend:
    build: ./backend
    image: webrecorder/browsertrix-api
    ports:
      - 8000:8000

    volumes:
        - /var/run/docker.sock:/var/run/docker.sock

    env_file:
      - ./configs/config.env

    depends_on:
      - minio
      - mongo

  redis:
    image: redis
    command: redis-server --appendonly yes

    ports:
      - 6379:6379

    volumes:
      - btrix-redis-data:/data

  mongo:
    image: mongo
    volumes:
      - btrix-mongo-data:/data/db

    env_file:
      - ./configs/config.env

  minio:
    image: minio/minio
    command: server /data --console-address :9001
    ports:
      - 9000:9000
      - 9001:9001

    volumes:
      - btrix-minio-data:/data

    env_file:
      - ./configs/config.env

  init_minio_bucket:
    image: minio/mc
    entrypoint: "/bin/sh"
    command: ['-c', 'mc mb local/test-bucket; mc policy set public local/test-bucket' ]

    env_file:
      - ./configs/config.env

    depends_on:
      - minio


volumes:
  btrix-redis-data:
  btrix-mongo-data:
  btrix-minio-data:


networks:
  default:
    name: btrix-cloud-net

