site_name: Browsertrix Cloud Docs
repo_url: https://github.com/webrecorder/browsertrix-cloud/
repo_name: Browsertrix Cloud
edit_uri: edit/main/docs/
extra_css:
    - stylesheets/extra.css
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.tracking
    - navigation-indexes
    - navigation.footer
  font:
    text: Inter
    code: Recursive
  palette:
    scheme: webrecorder
  logo: assets/brand/btrix-logo.svg

  icon:
    admonition:
      tip: fontawesome/solid/angles-right
      example: fontawesome/solid/flask
    repo: bootstrap/github
    edit: bootstrap/pencil
    view: bootstrap/eye



markdown_extensions:
  - toc:
      toc_depth: 3
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - docs/overrides/.icons
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.superfences

extra:
  generator: false
  social:
    - icon: bootstrap/globe
      link: https://webrecorder.net
    - icon: bootstrap/chat-left-text-fill
      link: https://forum.webrecorder.net/
    - icon: bootstrap/mastodon
      link: https://digipres.club/@webrecorder
    - icon: bootstrap/youtube
      link: https://www.youtube.com/@webrecorder
copyright: "Creative Commons Attribution 4.0 International (CC BY 4.0)"
    