uvicorn
fastapi==0.71.0
fastapi-users[mongodb]==9.2.2
loguru
aiofiles
kubernetes-asyncio==22.6.5
aiobotocore
redis>=5.0.0
pyyaml
jinja2
humanize
python-multipart
pathvalidate
https://github.com/ikreymer/stream-zip/archive/refs/heads/stream-uncompress.zip
boto3
