gunicorn
uvicorn[standard]
fastapi==0.103.2
motor
passlib
PyJWT==2.8.0
pydantic==2.8.2
email-validator
loguru
aiofiles
kubernetes-asyncio==29.0.0
kubernetes
aiobotocore
requests
redis>=5.0.0
pyyaml
jinja2
humanize
python-multipart
pathvalidate
https://github.com/ikreymer/stream-zip/archive/refs/heads/crc32-optional.zip
backoff>=2.2.1
python-slugify>=8.0.1
types_aiobotocore_s3
types-redis
types-python-slugify
types-pyYAML
remotezip
json-stream
aiostream
iso639-lang>=2.6.0
