---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.name }}-env-config
  namespace: {{ .Release.Namespace }}

data:
  MONGO_HOST: {{ .Values.mongo_host }}

  APP_ORIGIN: {{.Values.ingress.scheme }}://{{ .Values.ingress.host | default "localhost:9870" }}

  CRAWLER_NAMESPACE: {{ .Values.crawler_namespace }}
  CRAWLER_IMAGE: {{ .Values.crawler_image }}
  CRAWLER_PULL_POLICY: {{ .Values.crawler_pull_policy }}

  CRAWL_TIMEOUT: "{{ .Values.crawl_timeout }}"
  CRAWL_RETRIES: "{{ .Values.crawl_retries }}"

  CRAWLER_REQUESTS_CPU: "{{ .Values.crawler_requests_cpu }}"
  CRAWLER_LIMITS_CPU: "{{ .Values.crawler_limits_cpu }}"

  CRAWLER_REQUESTS_MEM: "{{ .Values.crawler_requests_memory }}"
  CRAWLER_LIMITS_MEM: "{{ .Values.crawler_limits_memory }}"

  REDIS_URL: "{{ .Values.redis_url }}"

  REDIS_CRAWLS_DONE_KEY: "crawls-done"

  NO_DELETE_JOBS: "{{ .Values.no_delete_jobs | default 0 }}"

  GRACE_PERIOD_SECS: "{{ .Values.grace_period_secs | default 600 }}"

  REGISTRATION_ENABLED: "{{ .Values.registration_enabled | default 0 }}"

  JWT_TOKEN_LIFETIME_MINUTES: "{{ .Values.jwt_token_lifetime_minutes | default 60 }}"

  WEB_CONCURRENCY: "{{ .Values.backend_workers | default 4 }}"


---
apiVersion: v1
kind: ConfigMap
metadata:
  name: shared-crawler-config
  namespace: {{ .Values.crawler_namespace }}

data:
  CRAWL_ARGS: "{{ .Values.crawler_args }} --redisStoreUrl {{ .Values.redis_url }}"
  #WEBHOOK_URL: "http://browsertrix-cloud.default/_crawls/done"
  WEBHOOK_URL: "{{ .Values.redis_url }}/crawls-done"
  STORE_USER: ""

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: {{ .Release.Namespace }}

data:
{{ (.Files.Glob "*.conf").AsConfig | indent 2 }}

#{{ (.Files.Glob "frontend/*.*").AsConfig | indent 2 }}

