{{ $max_browser_windows := not (empty .Values.max_browser_windows) | ternary (int .Values.max_browser_windows) (mul (int .Values.max_crawl_scale) (int .Values.crawler_browser_instances) ) }}


{{- range untilStep 0 $max_browser_windows 1 }}
---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: crawl-pri-{{ . }}
value: {{ sub 0 . }}
globalDefault: false
description: "Priority for crawl instance #{{ . }}"

{{- end }}

{{- range untilStep 0 $max_browser_windows 1 }}
---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: qa-crawl-pri-{{ . }}
value: {{ sub -2 . }}
globalDefault: false
description: "Priority for QA crawl instance #{{ . }}"

{{- end }}

# Lower Priority for Background Jobs
---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: bg-job
value: -1000
globalDefault: false
description: "Priority for background jobs"

# Higher Priority for Indexing
---
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: index-import-job
value: 5
globalDefault: false
description: "Priority for indexing"


