@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  sl-tree {
    --indent-guide-width: 1px;
    --indent-guide-color: var(--sl-color-neutral-300);
  }

  /* Reset selected styles */
  sl-tree-item::part(item--selected) {
    border-inline-start-color: transparent;
    background: transparent;
  }

  /* Account for invisible border-inline-start width */
  sl-tree {
    margin-left: -3px;
  }

  sl-tree-item::part(label) {
    @apply w-full;
  }

  sl-tree-item::part(children)::before {
    bottom: 1rem;
  }

  .item-dependency-tree--row {
    grid-template-columns:
      1rem minmax(10rem, 1fr) repeat(2, minmax(11rem, 1fr)) repeat(
        2,
        minmax(5rem, 1fr)
      )
      2rem;
    @apply grid w-full items-center gap-2;
  }

  .item-dependency-tree--dependency::part(indentation) {
    @apply w-3;
  }

  .item-dependency-tree--dependency::part(base)::before {
    content: "";
    width: 1.25rem;
    left: calc(var(--indent-size) - 1.5px);
    top: calc(1.25rem - var(--indent-guide-width));
    height: var(--sl-border-radius-medium);
    border-left: var(--indent-guide-width) var(--indent-guide-style)
      var(--indent-guide-color);
    border-bottom: var(--indent-guide-width) var(--indent-guide-style)
      var(--indent-guide-color);

    @apply absolute rounded-bl-lg;
  }

  .item-dependency-tree--dependency::part(label) {
    @apply relative;
  }

  .item-dependency-tree--content {
    @apply h-9;
  }

  .item-dependency-tree--detail {
    @apply flex items-center gap-1.5 truncate;
  }

  .item-dependency-tree--detail sl-icon {
    @apply text-neutral-500;
  }

  .item-dependency-tree--purgeable .item-dependency-tree--detail {
    @apply opacity-75;
  }
}
