@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  sl-tree {
    --indent-guide-width: 1px;
    --indent-guide-color: var(--sl-color-neutral-300);
  }

  /* Reset selected style */
  sl-tree-item::part(item--selected) {
    border-inline-start-color: transparent;
    background: transparent;
  }

  sl-tree-item:nth-of-type(n + 2),
  sl-tree-item > sl-tree-item:first-of-type {
    @apply mt-1.5;
  }

  sl-tree-item::part(label) {
    @apply w-full;
  }

  sl-tree-item::part(children)::before {
    bottom: 1rem;
  }

  .item-dependency-tree--row {
    grid-template-columns:
      1rem repeat(2, minmax(11rem, 1fr)) minmax(10rem, 1fr) minmax(5rem, 1fr) minmax(
        4rem,
        1fr
      )
      2rem;
    @apply grid w-full items-center gap-2 pl-2;
  }

  .item-dependency-tree--dependency::part(indentation) {
    @apply w-3;
  }

  .item-dependency-tree--dependency::part(base)::before {
    content: "";
    width: 1.75rem;
    left: calc(var(--indent-size) - 1.5px);
    top: calc(1rem - var(--indent-guide-width));
    height: var(--sl-border-radius-medium);
    border-left: var(--indent-guide-width) var(--indent-guide-style)
      var(--indent-guide-color);
    border-bottom: var(--indent-guide-width) var(--indent-guide-style)
      var(--indent-guide-color);

    @apply absolute rounded-bl-lg;
  }

  .item-dependency-tree--dependency::part(label) {
    @apply relative text-neutral-500;
  }

  .item-dependency-tree--content {
    @apply rounded border bg-neutral-0;
  }

  .item-dependency-tree--content sl-icon {
    @apply text-neutral-500;
  }
}
