# -------
# VPA
# -------
---
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    crawl: {{ id }}
    role: vpa

spec:
  targetRef:
    apiVersion: "btrix.cloud/v1"
    kind: CrawlJob
    name: crawljob-{{ id }}
  updatePolicy:
    updateMode: "InPlaceOrRecreate"
    minReplicas: 1
  resourcePolicy:
    containerPolicies:
    - containerName: "crawler"
      minAllowed:
        cpu: "{{ cpu / 2.0 }}"
        memory: "{{ memory / 2 }}"
      maxAllowed:
      {% if cpu_limit %}
        cpu: "{{ cpu_limit }}"
      {% endif %}
      {% if memory_limit %}
        memory: "{{ memory_limit }}"
      {% endif %}

    - containerName: "redis"
      minAllowed:
        cpu: "{{ redis_cpu }}"
        memory: "{{ redis_memory }}"
      maxAllowed:
      {% if cpu_limit %}
        cpu: "{{ cpu_limit }}"
      {% endif %}
      {% if memory_limit %}
        memory: "{{ memory_limit }}"
      {% endif %}
