# -------
# INDEXER
# -------
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ name }}
  labels:
    role: index-import-job
    coll: {{ id }}
    oid: {{ oid }}

spec:
  ttlSecondsAfterFinished: 0
  backoffLimit: 3

# if purging, set completions to disallow changing parallelism
# for import, omit to allow increasing later
{% if is_purging %}
  completions: 1
{% endif %}

  parallelism: 1
  template:
    metadata:
      labels:
        role: index-import-job
        coll: {{ id }}
        oid: {{ oid }}

    spec:
      restartPolicy: OnFailure
      priorityClassName: index-import-job
      volumes:
        - name: config
          configMap:
            name: {{ name }}

        - name: tmpdir
          emptyDir: {}

      containers:
        - name: indexer
          image: {{ crawler_image }}
          imagePullPolicy: {{ crawler_image_pull_policy }}
          command:
            - indexer
            - --sourceUrl
            - /tmp/config/config.json
            - --redisDedupeUrl
            - {{ redis_url }}
          {% if is_purging %}
            - --removing
          {% endif %}

          volumeMounts:
            - name: tmpdir
              mountPath: /tmp

            - name: config
              mountPath: /tmp/config/
              readOnly: True

          resources:
            limits:
              memory: "200Mi"

            requests:
              cpu: "500m"
              memory: "50Mi"

          {% if crawler_liveness_port and crawler_liveness_port != '0' %}
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ crawler_liveness_port }}

            initialDelaySeconds: 15
            periodSeconds: 120
            failureThreshold: 3
          {% endif %}

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true

      affinity:
    {% if crawler_node_type %}
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: nodeType
                  operator: In
                  values:
                    - "{{ crawler_node_type }}"
    {% endif %}

        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 10
              podAffinityTerm:
                topologyKey: "kubernetes.io/hostname"
                labelSelector:
                  matchExpressions:
                  - key: coll
                    operator: In
                    values:
                    - {{ id }}

      tolerations:
        - key: nodeType
          operator: Equal
          value: crawling
          effect: NoSchedule
        - key: node.kubernetes.io/not-ready
          operator: Exists
          tolerationSeconds: 300
          effect: NoExecute
        - key: node.kubernetes.io/unreachable
          operator: Exists
          effect: NoExecute
          tolerationSeconds: 300
