apiVersion: btrix.cloud/v1
kind: ProfileJob
metadata:
  name: profilejob-{{ id }}
  labels:
    browser: "{{ id }}"
    role: "job"
    btrix.org: {{ oid }}
    btrix.user: {{ userid }}
    {%- if base_profile %}
    btrix.baseprofile: "{{ base_profile }}"
    {%- endif %}
    btrix.storage: "{{ storage_name }}"

spec:
  selector:
    matchLabels:
      browser: "{{ id }}"

  id: "{{ id }}"
  userid: "{{ userid }}"
  oid: "{{ oid }}"

  storageName: "{{ storage_name }}"
  crawlerImage: "{{ crawler_image }}"
  imagePullPolicy: "{{ image_pull_policy }}"

  startUrl: "{{ url }}"
  profileFilename: "{{ profile_filename }}"
  vncPassword: "{{ vnc_password }}"

  proxyId: "{{ proxy_id }}"

  {% if expire_time %}
  expireTime: "{{ expire_time }}"
  {% endif %}
