apiVersion: batch/v1
kind: Job
metadata:
  name: "sync-{{'up' if is_upload else 'down'}}-{{ id }}"
  labels:
    role: sync-local-remote
    coll: {{ id }}

spec:
  ttlSecondsAfterFinished: 0
  backoffLimit: 3
  template:
    metadata:
      labels:
        role: sync-local-remote
        coll: {{ id }}

    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999

      restartPolicy: Never
      podFailurePolicy:
        rules:
        - action: FailJob
          onExitCodes:
            containerName: rclone
            operator: NotIn
            values: [0]
      volumes:
        - name: thedata
          persistentVolumeClaim:
            claimName: "{{ pvc_name }}"

      containers:
      - name: rclone
        image: rclone/rclone:latest
        volumeMounts:
          - name: thedata
            mountPath: "/data"
  {% if is_upload %}
            readOnly: true
  {% endif %}

        env:
        - name: RCLONE_CONFIG_REMOTE_TYPE
          value: "s3"

        - name: RCLONE_CONFIG_REMOTE_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: "{{ storage_secret_name }}"
              key: STORE_ACCESS_KEY

        - name: RCLONE_CONFIG_REMOTE_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: "{{ storage_secret_name }}"
              key: STORE_SECRET_KEY

        - name: RCLONE_CONFIG_REMOTE_REGION
          valueFrom:
            secretKeyRef:
              name: "{{ storage_secret_name }}"
              key: STORE_REGION

        - name: RCLONE_CONFIG_REMOTE_PROVIDER
          valueFrom:
            secretKeyRef:
              name: "{{ storage_secret_name }}"
              key: STORE_S3_PROVIDER

        - name: RCLONE_CONFIG_REMOTE_ENDPOINT
          value: "{{ storage_endpoint }}"

{% if is_upload %}
        command: ["rclone", "-vv", "copyto", "--checksum", "/data/{{ local_file }}", "remote:{{ remote_file_path }}"]
{% else %}
        command: ["rclone", "-vv", "copyto", "--checksum", "remote:{{ remote_file_path }}", "/data/{{ local_file }}"]
{% endif %}
        resources:
          limits:
            memory: "200Mi"

          requests:
            memory: "200Mi"
            cpu: "50m"
