ingress_class: "public"

mongo_auth:
  username: root
  password: example

ingress:
  host: "{{ domain }}"
  cert_email: "dev@webrecorder.net"
  scheme: "https"
  tls: true

# optional second-host for signing archives
signer:
  enabled: true
  host: "second-host.{{ domain.com }}"
