ingress_class: "public"

mongo_auth:
  username: root
  password: "{{ mongo_password | default('PASSWORD!') }}"

superuser:
  email: "{{ superuser_email }}"
  password: "{{ superuser_password }}"

default_org: "{{ browsertrix_default_org }}"

ingress:
  host: "{{ domain }}"
  cert_email: "dev@webrecorder.net"
  scheme: "https"
  tls: true

# optional second-host for signing archives
{% if enable_signing %}
signer:
  enabled: true
  host: {{ signing_domain }}
  cert_email: {{ cert_email }}
  image_pull_policy: "IfNotPresent"
  auth_token: {{ signing_authtoken }}
{% endif %}
