.sl-input {
  transition: var(--sl-transition-fast) border,
    var(--sl-transition-fast) box-shadow,
    var(--sl-transition-fast) background-color;
}

.sl-input:hover {
  border-color: var(--sl-input-border-color-hover);
}

.sl-input:focus {
  border-color: var(--sl-input-border-color-focus);
  box-shadow: var(--sl-focus-ring);
}

.sl-input input {
  color: var(--sl-input-color);
  outline: 0;
}
