/* :root {
    --color-wr-lightred: #E3353F;
    --color-wr-darkred: #A2001D;
} */

@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    src: url('../assets/fonts/Recursive_VF_1.084.woff2') format('woff2');
    font-feature-settings: "ss12";
}
  
:root {
    --md-code-font: "Recursive", monospace;
    --md-text-font: "Recursive", "Helvetica", "Arial", sans-serif;
}


code, pre, kbd {
    font-variation-settings: "MONO" 1;
    font-feature-settings: "ss01", "ss02", "ss08";
}

.md-typeset h1, h2, h3, h4, h5 {
    color: var(--md-primary-fg-color--dark);
    font-family: var(--md-code-font);
    font-variation-settings: "MONO" 0.51;
}

.md-typeset h1, h2, h3 {
    font-weight: 650 !important;
}

[data-md-color-scheme="webrecorder"] {
    --md-primary-fg-color: #008873;
    --md-primary-fg-color--light: #008873;
    --md-primary-fg-color--dark: #003c32;
    --md-primary-bg-color--light: #FFF;
    --md-accent-fg-color: #01b297;

    /* Typography Color Scheme */
    /* --md-typeset-color: #003c32; */
    --md-typeset-a-color: #008873;
    
  }