/* Global styles */
.uppercase {
  letter-spacing: 0.06em;
}

/* Regex Colorizer no bg theme */
/* https://stevenlevithan.com/regex/colorizer/themes/nobg.css */

.regex {
  color: var(--sl-color-neutral-500);
}
/* metasequence */
.regex b {
  color: var(--sl-color-blue-500);
}
/* char class */
.regex i {
  color: var(--sl-color-lime-500);
}
/* char class: metasequence */
.regex i b {
  color: var(--sl-color-green-500);
}
/* char class: range-hyphen */
.regex i u {
  color: var(--sl-color-green-500);
}
/* group: depth 1 */
.regex b.g1 {
  color: var(--sl-color-orange-500);
}
/* group: depth 2 */
.regex b.g2 {
  color: var(--sl-color-amber-500);
}
/* group: depth 3 */
.regex b.g3 {
  color: var(--sl-color-rose-500);
}
/* group: depth 4 */
.regex b.g4 {
  color: var(--sl-color-teal-500);
}
/* group: depth 5 */
.regex b.g5 {
  color: var(--sl-color-fuchsia-500);
}
/* error */
.regex b.err {
  color: var(--sl-color-danger-500);
}
.regex b,
.regex i,
.regex u {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
