[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
molecule = {extras = ["docker"], version = "*"}
certifi = "*"
ansible-lint = "*"
wcmatch = "*" # workaround ubuntu shipping a broken wcmatch package
yamllint = "*"
ansible-core = "*"
docker = "*"
boto3 = "*"
jmespath = "*"
mkdocs-material = "*"

[dev-packages]

[requires]
python_version = "3.12"
