[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==6.2.0"
molecule = {extras = ["docker"], version = "==4.0.1"}
certifi = "*"
ansible-lint = "==6.16.0"
yamllint = "==1.30.0"
ansible-core = "==2.13.2"
docker = "*"
boto3 = "*"
jmespath = "*"
mkdocs-material = "*"

[dev-packages]

[requires]
python_version = "3.10"
