site_name: Browsertrix Cloud Docs
repo_url: https://github.com/webrecorder/browsertrix-cloud/
repo_name: Browsertrix Cloud
edit_uri: edit/main/docs/
extra_css:
    - stylesheets/extra.css
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - navigation.footer
    - content.code.copy
    - content.action.edit
  palette:
    scheme: webrecorder
  logo: assets/brand/btrix-logo.svg

  icon:
    admonition:
      note: bootstrap/pencil-fill
      abstract: bootstrap/file-earmark-text-fill
      info: bootstrap/info-circle-fill
      tip: bootstrap/exclamation-circle-fill
      success: bootstrap/check-circle-fill
      question: bootstrap/question-circle-fill
      warning: bootstrap/exclamation-triangle-fill
      failure: bootstrap/x-octagon-fill
      danger: bootstrap/exclamation-diamond-fill
      bug: bootstrap/bug-fill
      example: bootstrap/mortarboard-fill
      quote: bootstrap/quote

    repo: bootstrap/github
    edit: bootstrap/pencil
    view: bootstrap/eye

nav:
  - index.md
  - Deploy:
      - deploy/index.md
      - deploy/local.md
      - deploy/production.md
      - Ansible:
        - deploy/ansible/digitalocean.md
        - deploy/ansible/microk8s.md
  - Develop:
      - develop/index.md
      - develop/local-dev-setup.md
      - develop/frontend-dev.md
      - develop/docs.md
  - User Guide:
      - user-guide/index.md
      - user-guide/workflow-setup.md
      - user-guide/org-settings.md

markdown_extensions:
  - toc:
      toc_depth: 3
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - docs/overrides/.icons
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.keys
  - def_list
  - attr_list

extra:
  generator: false
  social:
    - icon: bootstrap/globe
      link: https://webrecorder.net
    - icon: bootstrap/chat-left-text-fill
      link: https://forum.webrecorder.net/
    - icon: bootstrap/mastodon
      link: https://digipres.club/@webrecorder
    - icon: bootstrap/youtube
      link: https://www.youtube.com/@webrecorder
copyright: "Creative Commons Attribution 4.0 International (CC BY 4.0)"
