Password Reset
~~~
We received your password reset request.

If you were locked out of your account, this request is sent automatically.

If you did not attempt to log in and did not request this email, please let us know immediately at:
{{ support_email }}

Please click here: {{ origin }}/reset-password?token={{ token }} to create a new password.
