name: docs-publish
on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'

permissions:
  contents: write

jobs:
  deploy_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material requests pyyaml

      - name: Generate Helm Chart Index
        run: python ./scripts/generate-helm-index.py > ./docs/helm-repo/index.yaml

      - run: mkdocs gh-deploy --force
