name: Publish Docs
on:
  workflow_dispatch:
    inputs:
      docs_source_url:
        description: 'URL of Browsertrix Deployment to copy API docs from'
        required: false
        default: 'https://app.browsertrix.com'

  release:
    types: [published]

permissions:
  contents: write

jobs:
  deploy_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - run: pip install mkdocs-material mkdocs-redirects requests pyyaml

      - name: Generate Helm Chart Index
        run: python ./scripts/generate-helm-index.py > ./frontend/docs/docs/helm-repo/index.yaml

      - name: Copy Docs Files
        run: frontend/docs/copy-api-docs.sh
        env:
          DOCS_SOURCE_URL: ${{ github.event.inputs.docs_source_url || 'https://app.browsertrix.com' }}
          ENABLE_ANALYTICS: true

      - name: Build Docs
        run: cd frontend/docs; mkdocs gh-deploy --force
        env:
          ENABLE_ANALYTICS: true
