name: Make Draft + Upload Helm Chart

on:
  push:
    branches:
      - main
      - "*-release"

jobs:
  package_chart:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: 3.10.2

      - name: Package Chart
        run: |
          mkdir .chart-out
          helm package chart/ --destination .chart-out
          helm package chart/proxies/ --destination .chart-out

      - name: Get Version
        run: |
          echo "version=$(cat version.txt)" >> "$GITHUB_ENV"

      - name: Upload Chart To GitHub
        uses: ncipollo/release-action@v1
        with:
          body: |
            ## Deployment

            This release can be deployed with Helm directly by running:

            ```
            helm upgrade --install btrix https://github.com/webrecorder/browsertrix/releases/download/v${{ env.version }}/browsertrix-v${{ env.version }}.tgz
            ```

            Alternatively, you can add the Browsertrix Helm Chart Repo with:

            ```  
            helm repo add browsertrix https://docs.browsertrix.com/helm-repo/
            helm upgrade --install btrix browsertrix/browsertrix --version ${{ env.version }}
            ```

            See [the development guide](https://docs.browsertrix.com/deploy/) for more info how to deploy Browsertrix.

          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: .chart-out/browsertrix-v${{ env.version }}.tgz,.chart-out/btrix-proxies-*
          draft: true
          generateReleaseNotes: true
          name: Browsertrix v${{ env.version }}
          skipIfReleaseExists: true
          tag: v${{ env.version }}
          updateOnlyUnreleased: true
